<p>Hello, my name is David Salguero García and I am based in Granada, Spain.</p>

<p>
  Since I was very young I have been passionated about technology, learning to
  create websites with HTML and CSS when I was 12 years old. I am a Full-stack
  Developer with knowledge in Java, Typescript, Node.JS and Ruby on Rails. I
  also have experience workng as Front-End with React, Javascript and Angular.
</p>

<p>
  A few years ago I started learning about photography, trying to capture the
  essence of all the magical places I have been visiting.
</p>
