<section class="flex gap-x-4 [&>p]:mb-4">
  <div class="[&>p]:mb-4">
    <p>
      Hello, my name is David Salguero García and I am based in Granada, Spain. I started 
      learning how to build websites when I was 12. Since then, I have been working on
      creating amazing web applications for international companies.
    </p>

    <p>
      During the time I have been working mainly as Back-End Developer, with technologies
      like Spring Boot, NodeJS and Ruby on Rails. While working on those projects, I also had
      the opportunity to learn other Front-End technologies such as Angular and React. 
    </p>

    <p>
      I always try to stay up to date with the latest technologies to give new value to the 
      projects I work in and lately I have been working on a few personal projects to learn 
      Astro and NextJS. You can check them in my Github profile!
    </p>
  </div>
</section>
