---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'January 2023 - June 2022',
    title: 'NOVATEC GMBH',
    description:
      'German company with presence in Granada where I worked specially as Back-end Developer in a proyect using Springboot and Java. I also had the oportunity to work with the tools of Microsoft Azure.',
  },
  {
    date: 'March 2021 - November 2022',
    title: 'NAZARIES IT',
    description:
      'Company from Granada where I have worked as Full-Stack Developer in projects with Ruby on Rails and Node.JS. I also had the chance to work with languages like Typescript and React and tools like AWS.',
  },
  {
    date: 'February 2020 - March 2021',
    title: 'GUUD TV',
    description:
      'Start-up that creates campaigns for different brands in social networks, working as Back-End Developer. For that we used Java and Apache Storm to communicate with different APIs from social networks.',
  },
  {
    date: 'January 2018 - October 2019',
    title: 'ELCA INFORMATIQUE',
    description:
      'Swiss company with more than 50 years in the field where I worked as Full-Stack Developer. In this time, I improved my knowledge about Spring Framework, Java and Angular. Also, I had the chance to make different courses about Kotlin and TDD.',
  },
  {
    date: 'April 2017 - January 2018',
    title: 'EVERIS',
    description:
      'Spanish company where I did my first steps in the web development industry. I worked for Orange in a new platform for their callcenters, working in the backend with Springboot and Java',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
